<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["PERI.SK.Web.styles.css"]" />
    <link href="npm_packages/dist/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="npm_packages/dist/swiper/swiper.min.css" rel="stylesheet">
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="app.js"></script>
    <script src="_framework/blazor.web.js"></script>

    <!-- SCRIPTS -->
    <script src="npm_packages/dist/jquery/dist/jquery.js"></script>
    <script src="npm_packages/dist/@@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="npm_packages/dist/bootstrap/dist/js/bootstrap.js"></script>
    <script src="npm_packages/dist/swiper/swiper-bundle.min.js"></script>
</body>

</html>
